{% extends 'base.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Наши услуги</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for service in services %}
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                {% if service.image_filename %}
                <img src="{{ url_for('static', filename='uploads/' + service.image_filename) }}" alt="{{ service.name }}" class="w-full h-48 object-cover">
            {% endif %}
                <div class="p-4">
                    <h2 class="text-xl font-semibold text-gray-800 mb-2">{{ service.name }}</h2>
                    <p class="text-gray-600">{{ service.description[:100] }}...</p>
                    <p class="text-gray-700 font-bold mt-2">{{ service.price }} руб</p>
                    <a href="{{ url_for('main.service_detail', service_id=service.id) }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                        Подробнее
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}